<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Libro</title>
</head>
<body>
    <h1>Detalles de {{ libro.titulo }}</h1>
    <p><strong>Autor:</strong> {{ libro.autor }}</p>
    <p><strong>Fecha de Publicación:</strong> {{ libro.fecha_publicacion }}</p>
    <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
    <a href="{% url 'libros:listar' %}">Volver al Listado</a>
</body>
</html>
